@model IEnumerable<int>

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["InkCartridges"];
}

<h1>@Localizer["InkCartridges"]</h1>

<p>
    <a asp-controller="Ink" asp-action="Index">@Localizer["Ink"]</a> |
    <a asp-action="Create">@Localizer["CreateNew"]</a>
</p>
<div class="container">
    <div class="row">
        @foreach (var item in Model) {
            @Html.RenderAction("ProductCard", new {id = item});
        }
    </div>
</div>
