@page
@model Disable2faModel

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Disable2FA"];
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>

<div>
    <form method="post">
        <button class="btn btn-danger" type="submit">@Localizer["Disable2FA"]</button>
    </form>
</div>
