@model IEnumerable<int>

@{
    ViewData["Title"] = "Nibs(product)";
}

<h1>Nibs(product)</h1>

<p>
    <a asp-controller="Accessory" asp-action="Index">Accessories</a> |
    <a asp-action="Create">Create New</a>
</p>
<div class="container">
    <div class="row">
        @foreach (var item in Model) {
            @Html.RenderAction("ProductCard", new {id = item});
        }
    </div>
</div>
