@model IEnumerable<int>

@{
    ViewData["Title"] = "Ink";
}

<h1>Ink</h1>

<p>
    <a asp-controller="Product" asp-action="Index">Products</a> |
    <a asp-controller="InkCartridge" asp-action="Index">Ink cartridges</a>
    <a asp-controller="InkBottle" asp-action="Index">Ink bottles</a>
</p>
<div class="container">
    <div class="row">
        @foreach (var item in Model) {
            @Html.RenderAction("ProductCard", new {id = item});
        }
    </div>
</div>
