@model IEnumerable<int>

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Ink"];
}

<h1>Ink</h1>

<p>
    <a asp-controller="Product" asp-action="Index">@Localizer["Products"]</a> |
    <a asp-controller="InkCartridge" asp-action="Index">@Localizer["InkCartridges"]</a>
    <a asp-controller="InkBottle" asp-action="Index">@Localizer["InkBottles"]</a>
</p>
<div class="container">
    <div class="row">
        @foreach (var item in Model) {
            @Html.RenderAction("ProductCard", new {id = item});
        }
    </div>
</div>
