@model IEnumerable<int>

@{
    ViewData["Title"] = "Products";
}

<h1>Products</h1>

<p>
    <a asp-controller="Pen" asp-action="Index">Pens</a>
    <a asp-controller="Ink" asp-action="Index">Ink</a>
    <a asp-controller="Accessory" asp-action="Index">Accessories</a>
</p>
<div class="container">
    <div class="row">
        @foreach (var item in Model) {
            @Html.RenderAction("ProductCard", new {id = item});
        }
    </div>
</div>
