@model IEnumerable<int>

@{
    ViewData["Title"] = "Pens";
}

<h1>Pens</h1>

<p>
    <a asp-controller="Product" asp-action="Index">Products</a> |
    <a asp-controller="FountainPen" asp-action="Index">Fountain pens</a>
    <a asp-controller="RollerballPen" asp-action="Index">Rollerball pens</a>
</p>
<div class="container">
    <div class="row">
        @foreach (var item in Model) {
            @Html.RenderAction("ProductCard", new {id = item});
        }
    </div>
</div>
