@model IEnumerable<int>

@{
    ViewData["Title"] = "Ink bottles";
}

<h1>Ink bottle</h1>

<p>
    <a asp-controller="Ink" asp-action="Index">Ink</a> |
    <a asp-action="Create">Create New</a>
</p>
<div class="container">
    <div class="row">
        @foreach (var item in Model) {
            @Html.RenderAction("ProductCard", new {id = item});
        }
    </div>
</div>
