@model PenShop.Models.Nib

@{
    ViewData["Title"] = "Edit a nib";
}

<h1>Edit</h1>

<h4>Nib</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="BodyMaterial" class="control-label"></label>
                <select asp-for="BodyMaterialId" class="form-control" asp-items="ViewBag.BodyMaterialId"></select>
                <span asp-validation-for="BodyMaterialId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipMaterial" class="control-label"></label>
                <select asp-for="TipMaterialId" class="form-control" asp-items="ViewBag.TipMaterialId"></select>
                <span asp-validation-for="TipMaterialId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipDiameter" class="control-label"></label>
                <input asp-for="TipDiameter" class="form-control" />
                <span asp-validation-for="TipDiameter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
