@model IEnumerable<int>

@{
    ViewData["Title"] = "Accessories";
}

<h1>Accessories</h1>

<p>
    <a asp-controller="Product" asp-action="Index">Products</a> |
    <a asp-controller="Converter" asp-action="Index">Converters</a>
    <a asp-controller="NibAccessory" asp-action="Index">Nibs</a>
    <a asp-controller="Stand" asp-action="Index">Stands</a>
</p>
<div class="container">
    <div class="row">
        @foreach (var item in Model) {
            @Html.RenderAction("ProductCard", new {id = item});
        }
    </div>
</div>
